extends layout

block bootstrap

block content
    br
    br
    br
    br
    if user
        center
            h1(style="color:gray; margin-top:20rem;") Welcome #{user.name}! 
    
    else
        center
            h1(style="color:gray; margin-top:20rem;") Join first! 