extends layout

block bootstrap
    link(rel='stylesheet', href='/stylesheets/css/project.css')

block content
    .lane-container
        each lane in lanes
            .lane
                .lane-title #{lane.name}
                .task
                    .task-title study js
                    .task-content async, await, promise, etc 
                    .task-img img goes here
                    .task-file file goes here
    
        .lane-add
            .lane-add-title + Add Column