

.projects-container {
    display: flex;
    flex-direction: column;
    background-color: #6e578f14;
    border: solid 0.05rem gray;
    border-radius: 1rem;
    margin: 3rem 5rem 3rem 5rem;
}

.project   {
    display: flex;
    align-items: center;
    height: 6rem;
    color: black;
    text-decoration: none;
    background-color: white;
    border: solid 0.05rem gray;
    border-radius: 1rem;
    margin: 1rem 5rem 1rem 5rem;
}

.project-title {
    margin: 0.5rem 1rem 0.5rem 1rem;
    font-size: 2rem;

}

.auth-type {
    margin-top: 0.5rem;
    width: 4rem;
    text-align:center;
    color: white;
    font-size: 0.9rem;
    padding: 0.2rem;
    border: none 0.1rem;
    border-radius: 10%;
    background-color: lightgray;
}

.time-stamp {
    height: 1rem;
}

.project-add {
    display: flex;
    align-items: center;
    height: 6rem;
    color: gray;
    text-decoration: none;
    background-color: white;
    border: dotted 0.1rem gray;
    border-radius: 1rem;
    margin: 1rem 5rem 1rem 5rem;

}