* {
    border: hidden; }
  
  .project-info {
      margin: 5rem 0rem 0rem 3rem;
      text-align: center;
  }
  .project-info > .project-name {
  
      color: gray;
  }
  
  .lane-container {
    display: flex;
    padding: 3rem;
    margin: 2rem auto;
    align-items: center;
    overflow: scroll; }
  
  .lane {
    border: solid 0.05rem lightgray;
    background-color: #c1b5c845;
    margin: 0 1rem 0 1rem;
    flex: 1;
    min-height: 12rem;
    max-width: 20rem;
    border-radius: 1rem; }
     
.lane-header {
    margin: auto 1rem auto 1rem;
    display:inline-flex;
    width: 17rem;
    align-items: center;
}

.lane-header > .icons {
    margin: auto 0.3rem auto auto;
    float: right;
    color: #454242;
    font-size: 120%;
  }

 .lane-header > .icons > a:hover {
    cursor: pointer;
    font-size: 120%;
    transition: 220ms;

 }
  
  
  .lane-title {
    text-align: left;
    margin: 0.5rem;
    height: 2rem;
    font-size: 1.2rem; }
  
  .lane-add {
    border: dotted 0.05rem gray;
    border-radius: 1rem;
    display: flex;
    margin: 0rem 1rem 0rem 1rem;
    min-width: 18rem;
    min-height: 12rem;
    max-width: 20rem; }
    .lane-add .lane-add-title {
      margin: auto; }
.lane-add:hover {
    cursor: pointer;
}
  
.card {
    margin: 1rem;
}


.card-close {
    height: 2rem;
    position: absolute;
    margin-left: 14rem;
    margin-top: -0.5rem;
  }

  .card-close:hover {
    cursor: pointer;
  }