a:hover {
    text-decoration: none;
    cursor: pointer; 
}

.projects-container {
    display: flex;
    flex-direction: column;
    background-color: #6e578f14;
    border: solid 0.05rem gray;
    border-radius: 1rem;
    margin: 3rem 5rem 3rem 5rem;
}

.project-container {
    display: flex;
    background-color: white;
    border: solid 0.05rem gray;
    margin: 1rem 5rem 1rem 5rem;
    border-radius: 1rem;
    height: 6rem;
}

.project   {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    
}

.project-title {
    margin: 0.5rem 1rem 0.5rem 1rem;
    font-size: 2rem;

}

.auth-type {
    margin-top: 0.5rem;
    width: 4rem;
    text-align:center;
    color: white;
    font-size: 0.9rem;
    padding: 0.2rem;
    border: none 0.1rem;
    border-radius: 10%;
    background-color: lightgray;
}

.time-stamp {
    height: 1rem;
}

.delete-project {
    margin-top: 2%;
    position: absolute;
    right: 15%;
}

.project-add:hover {
    cursor: pointer;
}

.new-project {
    margin-left: 5rem;
    float: left;
}

.authority {
    display: flex;
    justify-content: flex-start;
}

.authority > button {
    border: solid gray 0.05rem;
    margin-right: 1rem;
    color: black;
}