* {
    border: hidden; }
  
  .project-info {
    display: inline-flex;
    width: 90%;
    margin: 6rem 1rem 0rem 5rem;
  }
  .project-info > .project-name {
    margin: 0.5rem;
      color: gray;
     
  }
  .project-info > .log-bell {
     margin: auto 1rem auto auto;
     border: hidden;
  }
    .project-info > .log-bell:hover {
    cursor: pointer;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 100%;
  }

  .log {
      overflow: scroll;
    margin-right: 3rem;
    opacity: 0.8;
    max-height: 30rem;

  }
  
  .lane-container {
    display: flex;
    padding: 3rem;
    margin: 2rem auto;
    align-items: center;
    overflow: scroll; }
  
  .lane {
    border: solid 0.05rem lightgray;
    background-color: #c1b5c845;
    margin: 0 1rem 0 1rem;
    flex: 1;
    min-height: 12rem;
    max-width: 20rem;
    border-radius: 1rem; }
     
.lane-header {
    margin: auto 1rem auto 1rem;
    display:inline-flex;
    width: 17rem;
    align-items: center;
}
  .lane-title {
    text-align: left;
    margin: 0.5rem;
    height: 2rem;
    font-size: 1.2rem; }
  

.lane-header > .icons {
    margin: auto 0.3rem auto auto;
    color: #454242;
    font-size: 120%;
  }

 .lane-header > .icons > a:hover {
    cursor: pointer;
    font-size: 120%;
    transition: 220ms;

 }
  
  

  .lane-add {
    border: dotted 0.05rem gray;
    border-radius: 1rem;
    display: flex;
    margin: 0rem 1rem 0rem 1rem;
    min-width: 18rem;
    min-height: 12rem;
    max-width: 20rem; }
    .lane-add .lane-add-title {
      margin: auto; }
.lane-add:hover {
    cursor: pointer;
}
  
.card {
    margin: 1rem;
}


.card-close {
    height: 2rem;
    position: absolute;
    margin-left: 14rem;
    margin-top: -0.5rem;
  }

  .card-close:hover {
    cursor: pointer;
  }

  @keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}